<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>522354059699-sovmqns37ot4m60p90rnqh9f2mjs7pi0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.522354059699-sovmqns37ot4m60p90rnqh9f2mjs7pi0</string>
	<key>API_KEY</key>
	<string>AIzaSyB6FHbQY1KrXEXzuj5UeliFzEcwjJxw-uc</string>
	<key>GCM_SENDER_ID</key>
	<string>522354059699</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>me.prudhvi.Jobber</string>
	<key>PROJECT_ID</key>
	<string>jobber-14b3e</string>
	<key>STORAGE_BUCKET</key>
	<string>jobber-14b3e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:522354059699:ios:9284c18e477859da</string>
	<key>DATABASE_URL</key>
	<string>https://jobber-14b3e.firebaseio.com</string>
</dict>
</plist>